@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zen+Loop&display=swap');
*{
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 1200px) {

$azul: rgb(177, 236, 255);
$colorT: rgb(255, 255, 255);
$grisO: #3f3f3f;

.menuDeNavegacion {
    display: flex;
    justify-content: space-around;
    background-color: $azul;
    list-style: none;
    text-decoration: none;   
    border-width: 2px;   
    border-color: black;
    border-style: solid;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
h1 {
    background-color: $azul;
}
body {
    background-image: linear-gradient(rgb(255, 174, 0) 100px, rgb(255, 238, 140) 500px, rgb(255, 252, 85));
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
img {
    width: 350px;
}
iframe {
    width: 350px;
}
p {
    color: $grisO;
    letter-spacing: 0.5px;
    font-size: 18px;
    line-height: 15px;
}
.ffamily {
    font-family: sans-serif;
}
.centrar {
    text-align: center;
}
.centrarc {
    align-items: center;
}
.interlineado {
    line-height: 1.5;
}
}
.cancionesLista {
    list-style-type: upper-roman;
    text-align: left;
    font-style: italic;
}
ol {
    color: rgb(0, 23, 136);
}
.divLobby {
    margin: 15px 15px 15px 15px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgb(177, 236, 255);
    padding: 10px;
    width: 100%;
    .inlineFlex {
        display: inline-flex;
        .tituloLobby {
            text-align: center;
            font-style: italic;
            font-family: 'Zen Loop', cursive;
            color: rgb(0, 0, 0);
            letter-spacing: 5px;
            font-size: 60px;
            font-weight: bolder;
            text-transform: capitalize;
            word-spacing: 20px;
            background-color: rgb(255, 255, 255);
            background-size: cover;
            border-width: 2px;
            border-color: black;
            border-style: solid;
            width: 480px;
            height: 100px;
            line-height: 100px;
        }
    }
}
#Rtabla {
    width: 100%;
    height: 100%;
}
.subtituloLobby {
    text-align: center;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Zen Loop', cursive;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    background-size: cover;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-weight: bold;
    width: 676px;
    height: 100px;
    line-height: 100px;
}
.DivTabla {
    width: 100%;
    background-color: rgb(177, 236, 255);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 300px;
    height: 100%;
    ol {
        padding-left: 30px;
        td{
            text-align: center;
        }
    }
}
#DivCuenta {
   /*  margin: 5px 15px 15px 15px; */
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgb(177, 236, 255);
    padding: 10px;
    width: 100%;
    line-height: 30px;
}
#divVivo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: baseline;  */
}
#divPadreAH {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 1450px;
}

#subtituloAH {
    text-align: center;
    margin-left: 10px;
    font-size: 60px;
    font-style: italic;
    font-family: 'Zen Loop', cursive;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    background-size: cover;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-weight: bold;
    width: 996px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 10px;
}


#descripcion {
    font-family: 'Zen Loop', cursive;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    background-size: cover;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-size: 23px;
    height: 60px;
    text-align: center;
    padding: 10px 5px 0px 5px;
    line-height: 23px;
    align-content: center;
    font-weight: bold;
}
#artistasH {
    margin: 15px 15px 15px 15px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgb(177, 236, 255);
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    .divAH {
        padding: 5px 5px 5px 5px;
        margin-bottom: 20px;
        border: rgb(0, 0, 116);
        border-style: dotted;
        border-width: 3px;
        .scale {
            width: 300px;
            height: 280px;
            transition: height 2s, width 2s;
        }
    }
}
#gridLobby {
    display: grid;
    grid-template-rows: 200px 100px 335px 450px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    
        "nav nav nav nav"
        "reco reco reco reco"
        "tab tab tab tab"
        "vid vid vid vid"
        "foot foot foot foot" 
    ;
}
section#nav {
    grid-area: nav;
}
section#reco {
    grid-area: reco;
}
section#tab {
    grid-area: tab;
}
section#vid {
    grid-area: vid;
}
section#foot {
    grid-area: foot;
}
.scale:hover {
    height: 500px;
    width: 700px;  
}
.aparecer {
    animation-duration: 2s;
    animation-name: aparecer;
 }
 
 
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
@media only screen and (max-width: 1200px) and (min-width: 768px) {

    #girdLobby {

        display: grid;
    grid-template-rows: 200px 100px 335px 450px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    
        "nav nav nav nav"
        "reco reco reco reco"
        "tab tab tab tab"
        "vid vid vid vid"
        "foot foot foot foot" 
    }
    section#nav {
        grid-area: nav;
    }
    section#reco {
        grid-area: reco;
    }
    section#tab {
        grid-area: tab;
    }
    section#vid {
        grid-area: vid;
    }
    section#foot {
        grid-area: foot;
    }
    .divLobby {
        background-color: lawngreen;
    }
    .menuDeNavegacion {
        display: flex;
        justify-content: space-around;
        background-color: rgb(219, 255, 253);
        list-style: none;
        text-decoration: none;   
        border-width: 2px;   
        border-color: black;
        border-style: solid;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
    }
    h1 {
        background-color: rgb(177, 236, 255);
    }
    body {
        background-image: linear-gradient(rgb(255, 174, 0) 100px, rgb(255, 238, 140) 500px, rgb(255, 252, 85));
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        height: 1024px;
    }
    p {
        color: #3f3f3f ;
        letter-spacing: 0.5px;
        font-size: 18px;
        line-height: 15px;
    }
    .ffamily {
        font-family: sans-serif;
    }
    .centrar {
        text-align: center;
    }
    .interlineado {
        line-height: 1.5;
    }
    .tituloLobby {
        text-align: center;
        font-style: italic;
        font-family: 'Zen Loop', cursive;
        color: rgb(0, 0, 0);
        letter-spacing: 5px;
        font-size: 30px;
        font-weight: bolder;
        text-transform: capitalize;
        word-spacing: 20px;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        width: 50%;
        height: 70px;
        line-height: 70px;
    }
    .cancionesLista {
        list-style-type: upper-roman;
        text-align: left;
        font-style: italic;
    }
    ol {
        color: rgb(0, 23, 136);
    }
    .divLobby {
        margin: 15px 15px 15px 15px;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        background-color: rgb(177, 236, 255);
        padding: 10px;
        width: 92%;
        height: fit-content;
    }
    #Rtabla {
        width: 100%;
        height: 100%;
    }
    .DivTabla {
        width: 92%;
        background-color: rgb(177, 236, 255);
        border-style: solid;
        border-width: 2px;
        border-color: black;
        height: 100%;
    }
    #divVivo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: baseline; 
    }
    ol{
        padding-left: 30px;
    }
    td{
        text-align: center;
    }
    .inlineFlex {
        display: inline-flex;
    }
    #subtituloLobby {
        text-align: center;
        margin-left: 10px;
        font-size: 15px;
        font-style: italic;
        font-family: 'Zen Loop', cursive;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        background-size: 50%;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        font-weight: bold;
        width: 50%;
        height: 70px;
        line-height: 30px;
    }
    img {
        height: 150px;
        width: 200px;
    }
    iframe {
        height: 150px;
        width: 200px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 375px) {

   /*  #girdLobby {

        display: grid;
    grid-template-rows: 200px 100px 335px 450px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    
        "nav nav nav nav"
        "reco reco reco reco"
        "tab tab tab tab"
        "vid vid vid vid"
        "foot foot foot foot" 
    }
    section#nav {
        grid-area: nav;
    }
    section#reco {
        grid-area: reco;
    }
    section#tab {
        grid-area: tab;
    }
    section#vid {
        grid-area: vid;
    }
    section#foot {
        grid-area: foot;
    } */
    .divLobby {
        background-color: lawngreen;
    }
    .menuDeNavegacion {
        display: flex;
        justify-content: space-around;
        background-color: rgb(219, 255, 253);
        list-style: none;
        text-decoration: none;   
        border-width: 2px;   
        font-size: 10px;
        border-color: black;
        border-style: solid;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
    }
    h1 {
        background-color: rgb(177, 236, 255);
        font-size: 10px;
    }
    body {
        background-image: linear-gradient(rgb(255, 174, 0) 100px, rgb(255, 238, 140) 500px, rgb(255, 252, 85));
        font-family: 'Montserrat', sans-serif;
        width: 100%;
    }
    p {
        color: #3f3f3f ;
        letter-spacing: 0.5px;
        font-size: 10px;
        line-height: 20px;
    }
    .ffamily {
        font-family: sans-serif;
    }
    .centrar {
        text-align: center;
    }
    .interlineado {
        line-height: 1px;
    }
    .tituloLobby {
        text-align: center;
        font-style: italic;
        font-family: 'Zen Loop', cursive;
        color: rgb(0, 0, 0);
        letter-spacing: 5px;
        font-size: 10px;
        font-weight: bolder;
        text-transform: capitalize;
        word-spacing: 7px;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        width: 50%;
        height: 50px;
        line-height: 50px;
    }
    .cancionesLista {
        list-style-type: upper-roman;
        text-align: left;
        font-style: italic;
    }
    ol {
        color: rgb(0, 23, 136);
        font-size: 10px;
    }
    .divLobby {
        margin: 5px 5px 5px 5px;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        background-color: rgb(177, 236, 255);
        padding: 10px;
        width: 100%;
        height: fit-content;
    }
    h2 {
        font-size: 5px;
    }
    #Rtabla {
        width: 100%;
        height: 100%;
    }
    .DivTabla {
        width: 92%;
        background-color: rgb(177, 236, 255);
        border-style: solid;
        border-width: 2px;
        border-color: black;
        height: 100%;
    }
    #divVivo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* align-items: baseline;  */
    }
    ol{
        padding-left: 30px;
        font-size: 10px;
    }
    th {
        font-size: 10px;
    }
    td{
        text-align: center;
        font-size: 11px;
    }
    .inlineFlex {
        display: inline-flex;
    }
    #subtituloLobby {
        text-align: center;
        margin-left: 10px;
        font-size: 10px;
        font-style: italic;
        font-family: 'Zen Loop', cursive;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        background-size: 50%;
        border-width: 2px;
        border-color: black;
        border-style: solid;
        font-weight: bold;
        width: 50%;
        height: 50px;
        line-height: 10px;
    }
    img {
        height: 120px;
        width: 120px;
    }
    iframe {
        height: 120px;
        width: 120px;
    }
}
